{% extends "base.html" %}

{% load static %}
{% load thumbnail %}
{% load user_filters %}

{% block title %}Главная страница{% endblock %}
{% block content_col_1 %}
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item w-100" role="presentation">
            <button class="btn btn-outline-info active w-100" id="orders-tab" data-bs-toggle="pill" data-bs-target="#orders" type="button" role="tab" aria-controls="orders" aria-selected="true">Заказы</button>
        </li>
        <li class="nav-item mt-1 w-100" role="presentation">
            <button class="btn btn-outline-info w-100" id="offers-tab" data-bs-toggle="pill" data-bs-target="#offers" type="button" role="tab" aria-controls="offers" aria-selected="false">Предложения</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="orders" role="tabpanel" aria-labelledby="orders-tab">
            {% for order in orders_сustomer %}
                <div class="shadow col-12 border mt-3 mb-2">
                    <div class="row">
                        <div class="col-8 col-lg-9 col-xl-10 border-end">
                            <div class="col-12">
                                <div class="text-center ps-3 fs-4">Описание</div>
                                <p class="text-break ps-3 pe-3">{{ order.description }}</p>
                            </div>
                            {% with order.images.all as images %}
                                {% if images %}
                                    <div class="col-12 border-top">
                                        <div id="imagesOrder{{ order.id }}" class="carousel pt-2 pb-2 slide w-50 mx-auto" data-bs-ride="carousel">
                                            <div class="carousel-indicators">
                                                {% for image in images %}
                                                    <button
                                                    type="button" data-bs-target="#imagesOrder{{ order.id }}" data-bs-slide-to="{{  forloop.counter0 }}" {% if forloop.counter0 == 0 %}class="active" aria-current="true"{% endif %} aria-label="Slide {{  forloop.counter0 }}">
                                                    </button>
                                                {% endfor %}
                                            </div>
                                            <div class="carousel-inner">
                                                {% for image in images %}
                                                    {% thumbnail image.image "500x500" crop="center" upscale=True  as im %}
                                                        <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}">
                                                            <img src="{{ im.url }}" class="d-block w-100" alt="заказ">
                                                        </div>
                                                    {% endthumbnail %}
                                                {% endfor %}
                                            </div>
                                            <button class="carousel-control-prev" type="button" data-bs-target="#imagesOrder{{ order.id }}" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#imagesOrder{{ order.id }}" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="col-4 col-lg-3 col-xl-2 pt-2 pb-2 pe-4">
                            <div class="col-12 text-center">
                                {% static 'images/no_user_picture_130x130.jpg' as NO_USER_PICTURE %}
                                {% if order.user.user_picture %}
                                    {% thumbnail order.user.user_picture "120x120" crop="center" upscale=True  as im %}
                                        <img class="img-thumbnail" src="{{ im.url }}" alt="фото профиля">
                                    {% endthumbnail %}
                                {% else %}
                                        <img class="img-thumbnail" src="{{ NO_USER_PICTURE }}" alt="фото профиля">
                                {% endif %}
                            </div>
                            <div class="col-12 text-center">
                                <p class="text-break">{{ order.user.username }}</p>
                            </div>
                            <div class="col-12 text-center">
                                <div><strong>Оплата</strong></div>
                                <p class="text-break">{{ order.price }}p.</p>
                            </div>
                            <div class="col-12 text-center">
                                <div><strong>Город</strong></div>
                                <p class="text-break">{{ order.city|title }}</p>
                            </div>
                            <div class="col-12 text-center">
                                <div><strong>Дата</strong></div>
                                <p class="text-break">{{ order.date }}</p>
                            </div>
                            <div class="col-12 text-center">
                                <a href="" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover text-break small">Подробнее...</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="offers" role="tabpanel" aria-labelledby="offers-tab">
            {% for order in orders_no_сustomer %}
                <div class="shadow col-12 border mt-3 mb-2">
                    <div class="row">
                        <div class="col-8 col-lg-9 col-xl-10 border-end">
                            <div class="col-12">
                                <div class="text-center ps-3 fs-4">Описание</div>
                                <p class="text-break ps-3 pe-3">{{ order.description }}</p>
                            </div>
                            {% with order.images.all as images %}
                                {% if images %}
                                    <div class="col-12 border-top">
                                        <div id="imagesOrder{{ order.id }}" class="carousel pt-2 pb-2 slide w-50 mx-auto" data-bs-ride="carousel">
                                            <div class="carousel-indicators">
                                                {% for image in images %}
                                                    <button
                                                    type="button" data-bs-target="#imagesOrder{{ order.id }}" data-bs-slide-to="{{  forloop.counter0 }}" {% if forloop.counter0 == 0 %}class="active" aria-current="true"{% endif %} aria-label="Slide {{  forloop.counter0 }}">
                                                    </button>
                                                {% endfor %}
                                            </div>
                                            <div class="carousel-inner">
                                                {% for image in images %}
                                                    {% thumbnail image.image "500x500" crop="center" upscale=True  as im %}
                                                        <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}">
                                                            <img src="{{ im.url }}" class="d-block w-100" alt="заказ">
                                                        </div>
                                                    {% endthumbnail %}
                                                {% endfor %}
                                            </div>
                                            <button class="carousel-control-prev" type="button" data-bs-target="#imagesOrder{{ order.id }}" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#imagesOrder{{ order.id }}" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="col-4 col-lg-3 col-xl-2 pt-2 pb-2 pe-4">
                            <div class="col-12 text-center">
                                {% static 'images/no_user_picture_130x130.jpg' as NO_USER_PICTURE %}
                                {% if order.user.user_picture %}
                                    {% thumbnail order.user.user_picture "120x120" crop="center" upscale=True  as im %}
                                        <img class="img-thumbnail" src="{{ im.url }}" alt="фото профиля">
                                    {% endthumbnail %}
                                {% else %}
                                        <img class="img-thumbnail" src="{{ NO_USER_PICTURE }}" alt="фото профиля">
                                {% endif %}
                            </div>
                            <div class="col-12 text-center">
                                <p class="text-break">{{ order.user.username }}</p>
                            </div>
                            <div class="col-12 text-center">
                                <div><strong>Оплата</strong></div>
                                <p class="text-break">{{ order.price }}p.</p>
                            </div>
                            <div class="col-12 text-center">
                                <div><strong>Город</strong></div>
                                <p class="text-break">{{ order.city|title }}</p>
                            </div>
                            <div class="col-12 text-center">
                                <div><strong>Дата</strong></div>
                                <p class="text-break">{{ order.date }}</p>
                            </div>
                            <div class="col-12 text-center">
                                <a href="" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover text-break small">Подробнее...</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block content_col_2 %}
    {% if data_filter.min_max_price.price__min != data_filter.min_max_price.price__max %}
        <div class="text-info mt-2 fs-5">Оплата</div>
        <div class="col-12 text-center">
            <div id="min-price" style="display: none;">{{ data_filter.min_max_price.price__min }}</div>
            <div id="max-price" style="display: none;">{{ data_filter.min_max_price.price__max }}</div>
            <input type="text" id="price" readonly="" disabled class="text-center text-white border-0 bg-dark">
            <div id="slider-range" class="mt-2"></div>
        </div>
    {% endif %}

    {% if data_filter.cities and data_filter.cities|length > 1 %}
        <div class="text-info mt-4 fs-5">Города</div>
        <div class="col-12 text-center mt-2">
            <select id="cities" class="form-select form-select-sm" multiple>
                {% for city in data_filter.cities %}
                    <option {% if city in request.GET.cities %}selected{% endif %} value="{{ city }}">{{ city }}</option>
                {% endfor %}
            </select>         
        </div>
    {% endif %}

    {% if data_filter.users and data_filter.users|length > 1 %}
        <div class="text-info mt-4 fs-5">Заказчик/Исполнитель</div>
        <div class="col-12 text-center mt-2">
            <select id="users" class="form-select form-select-sm" multiple>
                {% for user in data_filter.users %}
                    <option {% if user.username in request.GET.users %}selected{% endif %} value="{{ user.username }}">{{ user.username }}</option>
                {% endfor %}
            </select>         
        </div>
    {% endif %}
    <div class="col-12 text-center mt-2">
        <button id="button-filter" type="button" class="btn btn-outline-info">Применить</button>
    </div>
    <div class="col-12 text-center mt-2 mb-2">
        <a href="/" class="link-light link-underline-opacity-25 link-underline-opacity-100-hover">Сбросить фильтр</a>
    </div>
{% endblock %}
{% block col_count_1 %}{% endblock %}