.bg-castom {
    background-attachment: fixed;
}

.pg-body-castom {
    padding-top: 85px;
}

.shadow-castom {
    box-shadow: 0 0 20px 10px;
}

.castom_text_bold {
    font-weight: bold;
   }

.castom-border {
    border-right: 1px solid rgba(0, 0, 0, 0.175);
}

.castom-disabled {
    pointer-events: none;
    opacity: 0.5;
}


pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


@media screen and (max-width:992px) {
    .castom-border {
        border-right: 0px;
    }
}

.ui-slider .ui-state-active {
    background: #0dcaf0;
    box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.2),
    1px 2px 4px 0px rgba(0,255,255,0.2),
    2px 4px 8px 0px rgba(0,255,255,0.2),
    2px 4px 16px 0px rgba(0,255,255,0.2);
}

.ui-slider .ui-corner-all {
    border-radius: 10px;
}

.ui-slider .ui-slider-range {
    background: #0dcaf0;
}

.castom-option:hover {
    background: #cbcbcc;
}

.castom-shadow {
    box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.2),
    1px 2px 4px 0px rgba(0,255,255,0.2),
    2px 4px 8px 0px rgba(0,255,255,0.2),
    2px 4px 16px 0px rgba(0,255,255,0.2);
}

.castom-shadow:focus {
    box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.4),
    1px 2px 4px 0px rgba(0,255,255,0.4),
    2px 4px 8px 0px rgba(0,255,255,0.4),
    2px 4px 16px 0px rgba(0,255,255,0.4);
}

.castom-shadow-hover:hover {
    box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.4),
    1px 2px 4px 0px rgba(0,255,255,0.4),
    2px 4px 8px 0px rgba(0,255,255,0.4),
    2px 4px 16px 0px rgba(0,255,255,0.4);
}

.button-left {
    --bs-btn-active-color: white;
    --bs-btn-hover-color: white;
    border-radius: 20px 0px 0px 20px;
}

.button-right {
    --bs-btn-active-color: white;
    --bs-btn-hover-color: white;
    border-radius: 0px 20px 20px 0px;
}

.button-сenter {
    border-radius: 0px 0px 0px 0px;
}

.img-size {
    height: 400px;
    object-fit: cover;
}

.img {
    width: auto;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }