{% extends "base.html" %}

{% load static %}
{% load user_filters %}

{% block title %}Сброс пароля{% endblock %}

{% block col_count_2 %}{% endblock %}

{% block content %}
  {% if not user.is_authenticated %}
    <form method="post" action="{% url 'account:password_reset_form' %}">
        <div class="row g-3 align-items-center">
        {% csrf_token %}
        <div class="col-lg-4 col-md-12">
            <h1 class="text-center">Сброс пароля</h1>
            <hr>
            {% for field in form %}
                {% if field.errors %}
                    <div class="col-12 p-2">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field|addclass:"form-control is-invalid" }}
                        <div class="text-danger">
                            {{ field.errors }}
                        </div>
                    </div>
                {% else %}
                    <div class="col-12 p-2">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field|addclass:"form-control" }}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="text-center mt-2">
                <input class="btn btn-outline-success" type="submit" value="Сброс пароля">
            </div>
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="text-danger ms-3">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-lg-8 d-sm-none d-md-none d-lg-block">
            <img class="img-fluid" src="{% static '/images/sing_in.jpg' %}">
        </div>
        </div>
    </form>
  {% else %}
        <h1 class="text-center">Вы уже авторизованы</h1>
        <hr>
        <p class="text-center">Вы не можете сбросить пароль, так как являетесь авторизированным пользователем.</p>
  {% endif %}
{% endblock %}