{% load order_filters %}

{% if data_filter.min_max_price.price__min != data_filter.min_max_price.price__max %}
    <div class="text-info mt-2 fs-5">Оплата</div>
    <div class="col-12 text-center">
        <input
         min-price="{{ data_filter.min_max_price.price__min }}"
         max-price="{{ data_filter.min_max_price.price__max }}"
         type="text" id="price" readonly="" disabled class="text-center text-white border-0 bg-dark"
         >
        <div id="slider-range" class="mt-2 castom-shadow castom-shadow-hover"></div>
    </div>
{% endif %}

{% if data_filter.locations and data_filter.locations|length > 1 %}
    <div class="text-info mt-4 fs-5">Населённые пункты</div>
    <div class="col-12 text-center mt-2">
        <select id="locations" class="form-select form-select-sm castom-shadow castom-shadow-hover" multiple>
            {% for locality in data_filter.locations %}
                <option class="castom-option" {% if locality.id|slugify in request.GET.locations|str_in_list:"," %}selected{% endif %} value="{{ locality.id }}">
                    {{ locality.mun_district  }}{% if locality.mun_district|slice:"-2:" == "ий" %} район{% endif %}, {{ locality.abbreviated_city_type }} {{ locality.city }}
                </option>
            {% endfor %}
        </select>         
    </div>
{% endif %}

{% if data_filter.users and data_filter.users|length > 1 %}
    <div class="text-info mt-4 fs-5">Заказчик/Исполнитель</div>
    <div class="col-12 text-center mt-2">
        <select id="users" class="form-select form-select-sm castom-shadow castom-shadow-hover" multiple>
            {% for user in data_filter.users %}
                <option class="castom-option" {% if user.username in request.GET.users %}selected{% endif %} value="{{ user.username }}">{{ user.username }}</option>
            {% endfor %}
        </select>         
    </div>
{% endif %}
<div class="col-12 text-center mt-3">
    <button id="button-filter" type="button" disabled class="btn btn-outline-info castom-shadow castom-shadow-hover">Применить</button>
</div>
<div class="col-12 text-center mt-3 mb-2">
    <a href="/" class="link-light link-underline-opacity-25 link-underline-opacity-100-hover">Сбросить фильтр</a>
</div>