<div class="row border-top border-bottom mt-5">
    <div class="col-12 col-xxl-6 border-start border-end">
        <div class="col-12 text-center fs-3 border-bottom">Заказы</div>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Описание</th>
                    <th class="text-center">Оплата</th>
                    <th class="text-center">Населённый пункт</th>
                    <th class="text-center">Дней осталось</th>
                </tr>
           </thead>
            <tbody>
                {% for order in orders_customer %}
                    {% include 'includes/order_profile.html' %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-12 col-xxl-6 border-start border-end">
        <div class="col-12 text-center fs-3 border-bottom">Предложения</div>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Описание</th>
                    <th class="text-center">Оплата</th>
                    <th class="text-center">Населённый пункт</th>
                    <th class="text-center">Дней осталось</th>
                </tr>
           </thead>
            <tbody>
                {% for order in orders_no_customer %}
                    {% include 'includes/order_profile.html' %}
                {% endfor %}
            </tbody>
        </table>
    </div>
<div>