<ul class="pagination justify-content-center mt-3">
    <li class="page-item">
        <a
        class="btn button-left{% if 1 == orders_customer.number %} btn-outline-secondary disabled{% else %} btn-outline-info{% endif %} shadow"
        href="{% if 1 == orders_customer.number %}#{% else %}?page_customer=1&customer_tab=1&page_no_customer={{ orders_no_customer.number }}{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}{% endif %}"
        >
        Первая
        </a>
    </li>
    <li class="page-item">
        <a
            class="btn button-сenter{% if not orders_customer.has_previous %} btn-outline-secondary disabled{% else %} btn-outline-info{% endif %} shadow" 
            href="{% if orders_customer.has_previous %}?page_customer={{ orders_customer.previous_page_number }}&customer_tab=1&page_no_customer={{ orders_no_customer.number }}{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}{% else %}#{% endif %}"
            aria-label="Previous"
        >
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    {% if orders_customer.number > 3 %}
        <li class="page-item"><a class="btn button-сenter btn-outline-info disabled">...</a></li>
    {% endif %}
    {% for page in orders_customer.paginator.page_range %}
        {% if page > orders_customer.number|add:'-3' and page < orders_customer.number|add:'3' %}
            <li class="page-item">
                <a 
                    class="btn btn-outline-info button-сenter{% if page == orders_customer.number %} active{% endif %} shadow"
                    href="?page_customer={{ page }}&customer_tab=1&page_no_customer={{ orders_no_customer.number }}{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}"
                >
                    {{ page }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
    {% if orders_customer.number < orders_customer.paginator.num_pages|add:'-2' %}
        <li class="page-item"><a class="btn button-сenter btn-outline-info disabled">...</a></li>
    {% endif %}
    <li class="page-item">
        <a
            class="btn button-сenter{% if not orders_customer.has_next %} btn-outline-secondary disabled{% else %} btn-outline-info{% endif %} shadow" 
            href="{% if orders_customer.has_next %}?page_customer={{ orders_customer.next_page_number }}&customer_tab=1&page_no_customer={{ orders_no_customer.number }}{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}{% else %}#{% endif %}"
            aria-label="Next"
        >
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
    <li class="page-item">
        <a
        class="btn button-right{% if orders_customer.paginator.num_pages == orders_customer.number %} btn-outline-secondary disabled{% else %} btn-outline-info{% endif %} shadow"
        href="{% if orders_customer.paginator.num_pages == orders_customer.number %}#{% else %}?page_customer={{ orders_customer.paginator.num_pages }}&customer_tab=1&page_no_customer={{ orders_no_customer.number }}{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}{% endif %}"
        >
        Последняя
        </a>
    </li>
</ul>